{
  "$schema": "https://raw.githubusercontent.com/NaKeRNarolino/sake/refs/heads/master/json/config.schema.json",
  "meta": {
    "pack_name": "Project Name"
  },
  "enforces_platform": "windows",
  "default_mode": "default",
  "actions": {},
  "modes": {
    "default": {
      "watch": false,
      "include_actions": {},
      "target": "release"
    }
  }
}